.section {
  text-align:center;
  /*font-size: 2em;*/
}

#fp-nav ul li a span {
    background: white;
    width: 4px;
    height: 4px;
    margin: -2px 0 0 -2px;
    border: 1px solid black;
}
      
#fp-nav ul li a.active span, 
#fp-nav ul li:hover a.active span {
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: white;
    border: 1px solid black;
}

.jumbotron {
  background: rgba(238, 238, 238, 0.7); 
}

.my-item {
  min-height: 400px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.my-item_home {
  background-image: url("https://unsplash.it/1080/1920?image=445");
}
@media (min-width: 767px) {
  .my-item_home {
    background-image: url("https://unsplash.it/2181/1454?image=445");
  }
}

.my-item_portfolio {
  background-image: url("https://unsplash.it/1080/1920?image=6");
}
@media (min-width: 767px) {
  .my-item_portfolio {
    background-image: url("https://unsplash.it/2181/1454?image=6");
  }
}

.my-item_about {
  background-image: url("https://unsplash.it/1080/1920?image=895");
}
@media (min-width: 767px) {
  .my-item_about {
    background-image: url("https://unsplash.it/2181/1454?image=895");
  }
}

.my-item_contact {
  background-image: url("https://unsplash.it/1080/1920?image=504");
}
@media (min-width: 767px) {
  .my-item_contact {
    background-image: url("https://unsplash.it/2181/1454?image=504");
  }
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px; 
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.fp-controlArrow.fp-next {
  border-right-width: 25px;
}

.fp-controlArrow.fp-prev {
  border-left-width: 25px;
}

form {
  width: 80%;
  margin: auto;
}
@media (min-width: 767px) {
  form {
    width: 40%;
  }
}
p {
  margin: 0px 45px 0px 45px;
}